
# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
dbt_internal_packages/

# Python
__pycache__/
*.pyc
.venv/
venv/

# dbt
dbt_packages/
target/
logs/

# Airflow
airflow/logs/
airflow/.venv/
airflow/config/

# Environment files
.env

# OS / IDE
.vscode/
.DS_Store
Thumbs.db
